@import "./base.css";

/*thin = 100; extra light =200;light:300 ; 
nomal = 400 ;medium = 500; bold = 700 ; 
Semi Bold = 600 ; Extra Bold  = 800 */

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "BeVietNam Pro";
  src: url("../fontF/BeVietnamPro-Black.ttf") format("truetype");
  font-weight: 900;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "BeVietNam Pro" !important;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "BeVietNam Pro", Arial, sans-serif !important;
  color: #091e42;
  scroll-behavior: smooth;
}
/* header page  */
.header {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem dashed #ebecf0;
}

.header-subTitle {
  color: var(--text-color);
  margin-right: 0.8rem;
}

.header-mainTitle {
  color: #000;
  margin-left: 0.8rem;
}

/* end header  */
::placeholder {
  font-size: 1.2rem;
  color: #42526e;
}

/* search + filter  */
.dataTables_wrapper .dataTables_filter input {
  background: url("../image/iconsearch.png");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1.2rem 1.2rem;
  padding: 0.8rem 1.2rem 0.8rem 4rem;
  border: 0.1rem solid #ebecf0;
  font-size: 1.3rem;
  border-radius: 1.2rem;
  background-color: #ebecf0;
  width: 100%;
  /* top: -2.5rem; */
  margin-bottom: 0rem;
  outline: none;
  position: relative;
  top: -1.5rem;
  height: 4rem;
  margin-top: -2rem;
  color: var(--primary-color);
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  width: 20%;
}

.filter-table {
  display: flex;
  width: 78%;
  float: left;
  top: 0.5rem;
  position: relative;
}

.dept-list {
  position: relative;
  display: flex;
  height: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-right: 2rem;
}

/* .dept-list::after {
  content: "";
  position: absolute;
  background: url("/src/image/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  right: 0;
  padding: 0rem 0.5rem 0rem 2.2rem;
  height: 4rem;
  background-color: transparent;
  transition: 0.25s all ease;
  pointer-events: none;
  z-index: 1;
} */

.form-control {
  min-width: 20rem;
  max-width: 35rem;
  color: var(--primary-color);
  box-shadow: none;
  background-color: #fff;
  border: 1px solid var(--border-color);
  padding: 0.8rem 1.6rem;
  appearance: none;
  outline: 0;
  flex: 1;
  background-image: none;
  border-radius: 0.8rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-control:hover {
  border: 1px solid #42526e;
  color: #5e6c84;
}

.form-control:focus,
.form-control:active {
  border: 0.2rem solid #0835d9;
  color: var(--primary-color);
}

.label-filter {
  font-size: 1.4rem;
  color: #5e6c84;
  margin: 0 1rem;
  line-height: 4rem;
}

select,
option {
  font-size: 1.4rem;
}

/* end search +filter  */

/* table  */
#example {
  padding-top: 2.4rem;
  /* margin-top: 3.6rem;*/
  border-top: 0.1rem dashed #ebecf0;
}

.title-column {
  background-color: #dee9ff;
  color: var(--primary-color);
  text-align: left;
  height: 3.6rem;
  font-size: 1.2rem;
}

.title-column th {
  border-right: 0.1rem solid #fcfdff;
  font-weight: 600;
}

tbody tr {
  height: 4.5rem;
  font-size: 1.3rem;
  color: var(--primary-color);
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 0.1rem solid #f9f9f9;
}

tfoot th select {
  min-width: 95%;
  height: 2.8rem;
}

tfoot th.option_none select {
  display: none;
}

/* .dataTables_wrapper .dataTables_filter {
  float: left;
  width: 100%;
} */

.dataTables_info {
  margin-top: 0.5rem;
}

.paging_simple_numbers {
  margin-top: 1rem;
}

#example_info {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
}

/* end table  */

/* Lương Ngọc Hảo */

.folder-img {
  width: 100%;
}

.custom-img {
  max-width: 100%;
  height: auto;
}
.toggle-vis {
  cursor: pointer;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  outline: none;
}
.toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/*responsive*/
@media only screen and (max-width: 1934px) and (min-width: 1726px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 1558px) {
  /*html { font-size: 62.5%}*/
  .vscomp-toggle-button {
    font-size: 1.3rem;
    padding: 5px 10px;
  }
  .vscomp-option {
    font-size: 1.3rem;
  }
  .header {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }
  .title-column {
    font-size: 1.2rem;
  }
  tbody tr,
  .status {
    font-size: 1.3rem;
  }
  #example {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 1375px) {
  /*html { font-size: 58%}*/
  .vscomp-toggle-button {
    font-size: 1.25rem;
    padding: 3px 8px;
  }
  .header {
    font-size: 1.45rem;
  }
  .label-checkbox {
    font-size: 1.2rem;
  }
  .vscomp-option {
    font-size: 1.2rem;
  }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 0.8rem;
  }
  tbody tr,
  .status {
    font-size: 1.2rem;
  }
  .vscomp-toggle-button {
    font-size: 1.3rem;
    padding: 5px 8px;
  }
  table.dataTable thead .sorting {
    background-image: url("../image/qlts_sort_both_size1.svg");
  }
  table.dataTable thead .sorting_asc {
    background-image: url("../image/qlts_sort_asc_size1.svg") !important;
  }
  table.dataTable thead .sorting_desc {
    background-image: url("../image/qlts_sort_desc_size1.svg") !important;
  }
}
@media only screen and (max-width: 1238px) {
  html {
    font-size: 55%;
  }
  .vscomp-toggle-button {
    padding: 3px 8px;
  }
  .status {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1139px) {
  html {
    font-size: 53%;
  }
  .header {
    font-size: 1.35rem;
  }
  .label-filter {
    font-size: 1.3rem;
  }
  .vscomp-toggle-button {
    font-size: 1.2rem;
    padding: 2px 8px;
  }
  .vscomp-toggle-button {
    width: 90%;
  }
  .dataTables_wrapper .dataTables_filter input {
    background-size: 1.3rem;
    font-size: 1.2rem;
    height: 3.5rem;
    padding: 0.5rem 1.2rem 0.5rem 4rem;
  }
}

.add-new {
  position: relative;
  float: right;
  top: 2rem;
  right: 1rem;
}

.btn {
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  z-index: 100;
  position: inherit;
}
.btn:hover{
  opacity: 0.8;
  cursor: pointer;
}
.add-new .btn-addNew {
  min-width: 80px;
  padding: 0.8rem 1.6rem;
  background-color: #0835d9;
  color: #fff;
}
